<div class="navbar">
  <a href="contactos">Contactos</a>
  <a href="portafolio">Portafolio</a>
  <a href="sobre-mi">Sobre Mi</a>
  <a href="Inicio">Inicio</a>
  
  
</div>

  <a [routerLink]="['contactos']"></a>
  <a [routerLink]="['portafolio']"></a>
  <a [routerLink]="['sobre-mi']"></a>
  <a [routerLink]="['Inicio']"></a>
