*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar{
  overflow: hidden;
  background-color: crimson;
}
.navbar a{
  float: right;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover{
  background-color: white;
  color: crimson;
}
.active{
  background-color: aqua;
  color: black;
}
